@using System.Security.Claims;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Shop/favicon.ico">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700' rel='stylesheet' type='text/css'>

    <!-- CSS Style -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/Shop/css/bootstrap.min.css">

    <!-- font-awesome & simple line icons CSS -->
    <link rel="stylesheet" type="text/css" href="~/Shop/css/font-awesome.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Shop/css/simple-line-icons.css" media="all">

    <!-- owl.carousel CSS -->
    <link rel="stylesheet" type="text/css" href="~/Shop/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Shop/css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="~/Shop/css/owl.transitions.css">

    <!-- animate CSS  -->
    <link rel="stylesheet" type="text/css" href="~/Shop/css/animate.css" media="all">

    <!-- flexslider CSS -->
    <link rel="stylesheet" type="text/css" href="~/Shop/css/flexslider.css">

    <!-- jquery-ui.min CSS  -->
    <link rel="stylesheet" type="text/css" href="~/Shop/css/jquery-ui.css">

    <!-- Mean Menu CSS -->
    <link rel="stylesheet" type="text/css" href="~/Shop/css/meanmenu.min.css">

    <!-- nivo-slider css -->
    <link rel="stylesheet" type="text/css" href="~/Shop/css/nivo-slider.css">

    <!-- style CSS -->
    <link rel="stylesheet" type="text/css" href="~/Shop/css/style.css" media="all">
</head>
<body class="cms-index-index cms-home-page">
    <div id="page">
        <!-- Header -->
        <header>
            <div class="header-container">
                <div class="header-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-5 col-xs-6">
                                <!-- Default Welcome Message -->
                                <span class="phone hidden-xs hidden-sm"><i class="fa fa-phone fa-lg"></i> +123.456.789</span>
                                <div class="welcome-msg hidden-xs">Welcome to Lazarus </div>
                            </div>

                            <!-- top links -->
                            <div class="headerlinkmenu col-lg-6 col-md-6 col-sm-7 col-xs-6 text-right">
                                <div class="links">
                                    <div class="jtv-user-info">
                                        <div class="dropdown">
                                            <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span>Tài khoản </span> <i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                @{
                                                    if (!User.Identity.IsAuthenticated)
                                                    {
                                                        <li><a asp-controller="Account" asp-action="Login">Đăng nhập</a></li>
                                                        <li><a asp-controller="Account" asp-action="Register">Đăng kí</a></li>
                                                    }
                                                    else
                                                    {
                                                        if (User.FindFirst(ClaimTypes.Role).Value == "Admin" || User.FindFirst(ClaimTypes.Role).Value == "ShopManager")
                                                        {
                                                            <li><a asp-action="Index" asp-controller="Manager">Quản lý</a></li>
                                                        }
                                                        <li><a asp-action="AccountDetails" asp-controller="Home" asp-route-id="@User.FindFirst(ClaimTypes.Sid).Value">Thông tin tài khoản</a></li>
                                                        <li><a asp-action="OrderReview" asp-controller="Home">Xem hóa đơn</a></li>
                                                        if (User.FindFirst(ClaimTypes.Role).Value == "NormalUser")
                                                        {
                                                            <li><a asp-action="Subscription" asp-controller="Home">Subscription</a></li>
                                                        }
                                                        <li class="divider"></li>
                                                        <li><a asp-controller="Account" asp-action="Logout">Đăng xuất</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-xs-12">
                            <!-- Header Logo -->
                            <div class="logo"><a title="e-commerce" asp-controller="Home" asp-action="Index"><img alt="e-commerce" src="~/Shop/images/logo.png"></a> </div>
                            <!-- End Header Logo -->
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6">
                            <!-- Search -->

                            @await Component.InvokeAsync("HomeSearch")

                            <!-- End Search -->
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 top-cart">
                            @await Component.InvokeAsync("Cart")
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
        <!-- Start Menu Area -->
        <div class="menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 hidden-xs">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li class="active custom-menu">
                                        <a asp-controller="Home" asp-action="Index">Trang chủ</a>
                                    </li>
                                    <li class="custom-menu">
                                        <a asp-action="Index" asp-controller="HomeProducts">Danh sách sản phẩm</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- Signup -->
                            @if (User.Identity.IsAuthenticated)
                            {
                                <p class="top-Signup"><a asp-action="Logout" asp-controller="Account" class="">Đăng xuất</a></p>
                            }
                            else
                            {
                                <p class="top-Signup"><a href="#" class="" role="button" data-toggle="modal" data-target="#login-modal">Đăng nhập/Đăng kí</a></p>
                            }
                            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <img id="img_logo" src="images/logo.png" alt="logo">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
                                        </div>
                                        @await Component.InvokeAsync("LoginForm")
                                    </div>
                                </div>
                            </div>
                            <!-- END # MODAL LOGIN -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Menu Area -->
        <!-- Content Body -->
        @RenderBody()
        <!-- End Content Body -->
    </div>

    <!-- Footer -->

    <footer>
        <div class="footer-newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-3">
                        <div class="footer-logo">
                            <a href="index-2.html"><img src="~/Shop/images/logo.png" alt="fotter logo"></a>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">               
                <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
                    <h3 class="links-title">Liên hệ với chúng tôi</h3>
                    <div class="footer-content">
                        <div class="email">
                            <i class="fa fa-envelope"></i>
                            <p><a href="">giangedtheunknown@gmail.com</a></p>
                        </div>
                        <div class="phone">
                            <i class="fa fa-phone"></i>
                            <p>(+84) 123 456 789</p>
                        </div>
                        <div class="address">
                            <i class="fa fa-map-marker"></i>
                            <p> Country roads, take me home to the places I belong</p>
                        </div>
                    </div>
                    <div class="social">
                        <ul class="inline-mode">
                            <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-network linkedin"><a title="Connect us on Linkedin" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="social-network rss"><a title="Connect us on RSS" target="_blank" href="#"><i class="fa fa-rss"></i></a></li>
                            <li class="social-network instagram"><a title="Connect us on Instagram" target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-coppyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2018. All Rights Reserved. </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="payment">
                            <ul>
                                <li><a href="#"><img title="Visa" alt="Visa" src="~/Shop/images/visa.png"></a></li>
                                <li><a href="#"><img title="Paypal" alt="Paypal" src="~/Shop/images/paypal.png"></a></li>
                                <li><a href="#"><img title="Discover" alt="Discover" src="~/Shop/images/discover.png"></a></li>
                                <li><a href="#"><img title="Master Card" alt="Master Card" src="~/Shop/images/master-card.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="totop"> </a>

    <!-- End Footer -->
    <!-- JS -->
    <!-- jquery js -->
    <script type="text/javascript" src="~/Shop/js/jquery.min.js"></script>

    <!-- bootstrap js -->
    <script type="text/javascript" src="~/Shop/js/bootstrap.min.js"></script>

    <!-- Mean Menu js -->
    <script type="text/javascript" src="~/Shop/js/jquery.meanmenu.min.js"></script>

    <!-- owl.carousel.min js -->
    <script type="text/javascript" src="~/Shop/js/owl.carousel.min.js"></script>

    <!-- bxslider js -->
    <script type="text/javascript" src="~/Shop/js/jquery.bxslider.js"></script>

    <!--jquery-ui.min js -->
    <script type="text/javascript" src="~/Shop/js/jquery-ui.js"></script>

    <!-- countdown js -->
    <script type="text/javascript" src="~/Shop/js/countdown.js"></script>

    <!-- wow JS -->
    <script type="text/javascript" src="~/Shop/js/wow.min.js"></script>

    <!-- main js -->
    <script type="text/javascript" src="~/Shop/js/main.js"></script>

    <!-- nivo slider js -->
    <script type="text/javascript" src="~/Shop/js/jquery.nivo.slider.js"></script>

    <!-- flexslider js -->
    <script type="text/javascript" src="~/Shop/js/jquery.flexslider.js"></script>
    <!-- Hot Deals Timer 1-->
    <script type="text/javascript">
        var dthen1 = new Date("12/25/16 11:59:00 PM");
        start = "08/04/15 03:02:11 AM";
        start_date = Date.parse(start);
        var dnow1 = new Date(start_date);
        if (CountStepper > 0)
            ddiff = new Date((dnow1) - (dthen1));
        else
            ddiff = new Date((dthen1) - (dnow1));
        gsecs1 = Math.floor(ddiff.valueOf() / 1000);

        var iid1 = "countbox_1";
        CountBack_slider(gsecs1, "countbox_1", 1);
    </script>
</body>
</html>
