
@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        Hãy kiểm tra email của bạn, một thư xác nhận đã gửi đến @ViewBag.Email
    </div>
</div>