@model TaiKhoan

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<section class="main-container col1-layout">
    <div class="main container">
        <div class="page-content">
            <div class="account-login">
                <form method="post">
                    <div class="box-authentication">
                        @{
                            if (ViewData["error"] != null)
                            {
                                <div class="box-border table-bordered bg-warning">
                                    <h5 class="text-danger" style="padding-left:10px;">@ViewData["error"]</h5>
                                </div>
                            }
                        }
                        <h4>Đăng nhập</h4>
                        <p class="before-login-text">@Html.ActionLink("Chưa có tài khoản?", "Register", "Account")</p>
                        <div class="panel-group">
                            <label asp-for="Email">Email<span class="required">*</span></label>
                            <input asp-for="Email" type="text" class="form-control">
                        </div>
                        <div class="panel-group">
                            <label asp-for="MatKhau">Mật khẩu<span class="required">*</span></label>
                            <input asp-for="MatKhau" type="password" class="form-control">
                        </div>
                        <button type="submit" class="button"><i class="fa fa-lock"></i>&nbsp; <span>Đăng nhập</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>