@model TaiKhoan

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<section class="main-container col1-layout">
    <div class="main container">
        <div class="page-content">
            <div class="account-login">
                <form method="post">
                    <div class="box-authentication">
                        @{
                            if (TempData["Error"] == "Password")
                            {
                                <div class="box-border table-bordered bg-warning">
                                    <h4 class="text-danger" style="padding-left:10px;">Mật khẩu phải có: </h4>
                                    <h6 class="text-danger" style="padding-left:15px;">Kí tự chữ</h6>
                                    <h6 class="text-danger" style="padding-left:15px;">Kí tự số</h6>
                                    <h6 class="text-danger" style="padding-left:15px;">Một chữ hoa</h6>
                                </div>
                            }
                        }
                        <h4>Register</h4>
                        <p>Create your very own account</p>
                        <div class="panel-group">
                            <label asp-for="Ho">Họ<span class="required">*</span></label>
                            <input asp-for="Ho" type="text" class="form-control">
                            <span asp-validation-for="Ho" class="text-danger"></span>
                        </div>
                        <div class="panel-group">
                            <label asp-for="Ten">Tên<span class="required">*</span></label>
                            <input asp-for="Ten" type="text" class="form-control">
                            <span asp-validation-for="Ten" class="text-danger"></span>
                        </div>
                        <div class="panel-group">
                            <label asp-for="Email">Email<span class="required">*</span></label>
                            <input asp-for="Email" type="text" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="panel-group">
                            <label asp-for="MatKhau">Mật khẩu<span class="required">*</span></label>
                            <input asp-for="MatKhau" type="password" class="form-control">
                            <span asp-validation-for="MatKhau" class="text-danger"></span>
                        </div>
                        <div class="panel-group">
                            <label asp-for="NhapLaiMatKhau">Nhập lại mật khẩu<span class="required">*</span></label>
                            <input asp-for="NhapLaiMatKhau" type="password" class="form-control">
                            <span asp-validation-for="NhapLaiMatKhau" class="text-danger"></span>
                        </div>
                        <button type="submit" class="button"><i class="fa fa-user"></i>&nbsp; <span>Register</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>