@model RegisterView

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<form method="post" asp-controller="Account" asp-action="Register(model)">
    <div class="box-authentication">
        <h4>Register</h4>
        <p>Create your very own account</p>
        <div class="row">
            <label asp-for="Email">Email<span class="required">*</span></label>
            <input asp-for="Email" type="text" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="Password">Mật khẩu<span class="required">*</span></label>
            <input asp-for="Password" type="text" class="form-control">
            <span asp-validation-for="Password" class="inline text-danger"></span>
        </div>
        <div class="row">
            <label asp-for="ConfirmPassword">Nhập lại mật khẩu<span class="required">*</span></label>
            <input asp-for="ConfirmPassword" type="text" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="inline text-danger"></span>
        </div>
        <button type="submit" class="button"><i class="fa fa-user"></i>&nbsp; <span>Register</span></button>
    </div>
</form>