@model TaiKhoan

<div>
    <form method="post">
        <div class="modal-body">
            <input asp-for="Email" class="form-control" type="text" placeholder="Email" />
            <input asp-for="MatKhau" class="form-control" type="password" placeholder="Mật khẩu" />
        </div>
        <div class="modal-footer">
            <div>
                <button asp-action="Login" asp-controller="Account" type="submit" class="btn-login">Đăng nhập</button>
            </div>
            <div>
                <a asp-action="Register" asp-controller="Account" class="btn btn-link">Đăng kí</a>
            </div>
        </div>
    </form>
</div>