<div class="top-search">
    <div id="search">
        <form method="post">
            <div class="input-group">
                <select class="cate-dropdown hidden-xs hidden-sm" asp-items="@ViewBag.LoaiSanPhamList" name="filterByType">
                    <option value="" selected>--- Tất cả ---</option>
                </select>
                <input type="text" class="form-control" placeholder="Search" name="searchName">
                <button asp-action="Search" asp-controller="HomeProducts" class="btn-search" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
</div>